// Microsoft Visual C++ generated resource script.
#pragma code_page(65001)
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_APP_ICON ICON "resources\\app_icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "CosmosCalc"
            VALUE "FileDescription", "CosmosCalc - Deep Space Calculator"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "cosmoscalc"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "cosmoscalc.exe"
            VALUE "ProductName", "CosmosCalc"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
#endif    // English (United States) resources
